# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/

# Virtual environments
.venv/
venv/
env/
.conda/

# Env files
.env
.env.*

# Caches
.cache/

# Logs
logs/
*.log

# Runtime output
hls/
screenshots/

# DB
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Docker
*.pid
